/* main page footer */
.footer-container {
  position: relative;
  width: 100%;
  height: auto;
}

.footer-main {
  padding: 0 2rem 1rem 2rem;
  display: flex;
  align-items: center;
}

.img-avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.footer-text {
  padding: 0 1rem;
}

.footer-paragraph-text {
  margin: 0;
}

.share-icon-container {
  background-color: var(--clr-ltgreyblue);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin-left: auto;
  padding: 0.0125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.share-icon {
  width: 1rem;
  height: 1rem;
}

/* overlay footer */
.footer-overlay {
  background-color: var(--clr-vdkgreyblue);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 999; /* Ensure it's above other content */
}

.footer-overlay.show {
  display: block;
}

.footer-content {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  margin: auto;
}

.icon-container {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

.text-share {
  letter-spacing: 0.25rem;
}

.icon-facebook,
.icon-twitter,
.icon-pinterest {
  width: auto;
  height: 1.5rem;
  cursor: pointer;
}

.share-icon-container-reverse {
  background-color: var(--clr-desdkblue);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin-left: auto;
  padding: 0.0125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.share-icon-reverse {
  width: 1rem;
  height: 1rem;
}

/* desktop + tablet landscape*/
@media (min-width: 1440px) and (orientation: landscape) {
  .footer-overlay {
    background-color: var(--clr-vdkgreyblue);
    position: absolute;
    width: 55%;
    bottom: 130%;
    left: 75%;
    transform: translateX(-50%);
    border-radius: 1rem; /* Adjust border radius as needed */
    z-index: 999; /* Ensure it's above other content */
  }

  .footer-overlay::before {
    background-color: var(
      --clr-vdkgreyblue
    ); /* Background color of the pointer */
    content: "";
    position: absolute;
    bottom: -1rem; /* Adjust to position the pointer */
    left: 80%; /* Position the pointer to the right side of pointer */
    transform: translateX(-50%) rotate(45deg); /* Rotate the pointer */
    width: 2rem; /* Width of the pointer */
    height: 2rem; /* Height of the pointer */
  }

  .text-share {
    font-size: medium;
    letter-spacing: 0.25rem;
  }

  .icon-container   {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: 1.5rem;
  }

  .share-icon-container.selected    {
    background-image: url("/images/icon-share-reverse.svg");
    cursor: pointer;
  }

  .share-icon-container-reverse {
    display: none;
  }

  .share-icon-reverse {
    display: none;
  }
}
